body
{
	margin:0px;
}

nav
{
	height: 10vh;
	width:100vw;
	position: fixed;
	background: rgba(255,255,255,1);
	box-shadow: 0 2px 2px -5px rgba(0,0,0,.2);

}
.firstcover
{
	height:100vh;
	background: rgba(69,163,229,1);
}


.aboutdiv
{
	height: 50vh;
}

#social
{
	background: rgba(255,51,85,1);
}

.footer
{
	background:rgba(0,0,0,.9);
	height: 3vh;
}

#heading
{
	text-align: justify;

}