
#cover
{
	background-color:  rgba(255,51,85,.85);
	color: white;
}

#mission
{
	min-height: 40vh;
	text-align: center;
	padding-bottom: 32px;
}

#social
{
	min-height: 60vh;
	background: rgba(134,76,191,1);
	text-align: center;
	padding-top: 32px;
	color:white;
}

.css-typing
{
    width: 15em;
    white-space:nowrap;
    overflow:hidden;
    margin: 0 auto;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}
