#cover
{
	min-height: 100vh;
	background-color:  rgba(255,51,85,.85);
}

#mission
{
	min-height: 40vh;
	text-align: center;
	padding-bottom: 32px;
}

#social
{
	min-height: 60vh;
	background: rgba(69,163,229,1);
	text-align: center;
}

.margin
{
	margin-top: 32px;
}